body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: #f9f9f9;
  --link_color: #743de0;
  --header_color: #000;
  --overview_color: #241444b0;
  --bullet_line_color: #242424;
}

/* overview */
.overview {
  background: var(--overview_color);
}

.overview a:hover {
  color: var(--link_color);
}

.overview .container h1 {
  padding-top: 2%;
  padding-bottom: 5%;
  color: white;
}

.overview .container h4 {
  color: white;
}

.overview .container {
  padding: 2%;
}

.overview img {
  border-radius: 50%;
  width: 400px;
  border: 2px solid #fff;
  margin-left: 150px;
  margin-top: 60px;
}

.overview li {
  padding: 2%;
}

.overview .sublist {
  margin-left: -10px;
  margin-top: -5px;
  margin-bottom: -10px;
}

.under-overview {
  background-color: white;
}

/* cv */
.cv {
  padding: 3%;
  background: var(--overview_color);
}

.open-to {
  padding: 3%;
  background-color: var(--overview_color);
}

.open-to h5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.under-overview {
  padding: 10px;
}

.cv h2 {
  /* margin-bottom: 50px; */
  color: white;
}

.cv .cv-link {
  color: var(--link_color);
  text-decoration: none;
}

.education .cv-link {
  color: var(--link_color);
  text-decoration: none;
}

.overview-link {
  color: var(--link_color);
  text-decoration: none;
}

.timeline-no-dots {
  list-style-type: none;
  position: relative;
  /* padding-left: -50px; */
}

/* .timeline-no-dots:before {
  content: "";
  background: var(--bullet_line_color);
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 1;
} */

.timeline-no-dots li {
  margin-top: 5px;
  /* margin-bottom: 20px; */
  /* margin-left: 20px; */
  background: #fff;
}

.timeline-no-dots li h4 {
  background-color: var(--header_color);
  padding: 5px 0 5px 20px;
  color: #fff;
  font-size: 15px;
}

.timeline-no-dots li p {
  padding: 1%;
}

.timeline-no-dots div {
  /* padding: -10px 0 5px 5px; */
  /* padding-left: -50px; */
  /* margin-bottom: 20px; */
  /* padding-top: 1%; */
  color: #fff;
  font-size: 15px;
  height: 70px;
}



.timeline {
  list-style-type: none;
  position: relative;
}

.timeline:before {
  content: "";
  background: var(--bullet_line_color);
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 1;
}

.timeline li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #fff;
}

.timeline li p {
  padding: 1%;
}

.timeline li h4 {
  background-color: var(--header_color);
  padding: 5px 0 5px 20px;
  color: #fff;
  font-size: 15px;
}

.timeline div {
  padding: 5px 0 5px 20px;
  padding-top: 1%;
  color: #fff;
  font-size: 15px;
  height: 70px;
}

.timeline div img {
  margin: 10px;
  padding-top: 1px;
  padding-left: -5px;
}

.timeline li h4 span {
  font-weight: bold;
  color: #ccc;
}

.timeline li:before {
  content: "";
  background: #fff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--header_color);
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

/* tech */
.tech {
  padding: 3%;
}

.tech .sublist {
  padding-bottom: 5px
}

.tech-heading {
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 5px;
}

/* education */
.education {
  /* background: var(--overview_color); */
  padding-bottom: 2.5%;
}

.education .container h2 {
  padding-top: 3%;
  padding-bottom: 1%;
  /* color: white; */
}

/* extras */
.extras {
  padding-bottom: 2.5%;
  background: var(--overview_color);
}

.extras .container h2 {
  padding-top: 3%;
  padding-bottom: 1%;
  color: white;
}

/* footer */
.footer {
  /* background: var(--overview_color); */
  background: white;
  padding-bottom: 2.5%;
  text-align: center;
}

.footer .container a {
  padding-top: 3%;
  padding-bottom: 1%;
  /* color: var(--overview_color); */
  color: var(--header_color);
}