body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: larger;
  background: #f9f9f9;
  --link_color: #743de0;
  --header_color: #000;
  --overview_color: #241444b0;
  --bullet_line_color: #242424;
}

h2 {
  color: var(--header_color);
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

a {
  color: var(--link_color);
}